# Jira Authentication
JIRA_API_USERNAME=
JIRA_API_TOKEN=
JIRA_INSTANCE_URL=

# Jira Project Configuration
JIRA_PROJECT_KEY=
JIRA_ASSIGNEE_USERNAME=
JIRA_CATEGORY_FIELD_ID=
JIRA_RESPONSE_FIELD_ID=

# Optional - Application Configuration
PORT=
