# LangSmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=customer-support-demo

# AWS Configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# Bedrock Models
TEXT_MODEL=mistral.mistral-large-2407-v1:0
VISION_MODEL=us.mistral.pixtral-large-2502-v1:0
REASONING_MODEL=us.anthropic.claude-sonnet-4-20250514-v1:0
MAX_TOKENS=4000
TEMPERATURE=0

# Bedrock Guardrails
GUARDRAIL_ID=
GUARDRAIL_VERSION=

# Bedrock KnowledgeBases
PRODUCT_KB_ID=

# AgentCore Memory
AGENTCORE_MEMORY_ID=

# AgentCore Gateway Configuration
MCP_SERVER_URL=
MCP_COGNITO_CLIENT_ID=
MCP_COGNITO_CLIENT_SECRET=
MCP_COGNITO_TOKEN_ENDPOINT=

#JIRA Configuration
JIRA_ASSIGNEE_USERNAME=
JIRA_CATEGORY_FIELD_ID=
JIRA_RESPONSE_FIELD_ID=